<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">Angular 1 BoilerPlate</div>
        </div>
        <div collapse="!isCollapsed" class="collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="navbar-nav-item" data-ng-repeat="navItem in environment.nav">
                    <a data-ng-href="{{navItem.uri}}" data-ng-bind="navItem.name"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>